@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat-Light";
  src: url(./fonts/Montserrat-Light.ttf) format("truetype");
}

body {
  font-family: "Montserrat-Light", monospace;
}
